.documentaries
	row()
	padding				0 20px

.documentary
	column(12)
	margin-bottom		2 * $base-spacing-unit
	overflow			visible

	@media (min-width: 768px)
		column(6)
		margin-bottom	2 * $base-spacing-unit
		overflow		visible

	@media (min-width: 990px)
		column(4)
		margin-bottom	2 * $base-spacing-unit
		overflow		visible