.footer
	background			$black
	color				$light-grey-1
	margin-top			$base-spacing-unit
	padding				$base-spacing-unit 0

	h2
		color			$white
		margin-top		0
		
	a
		color			$white !important
		
	.three.wide.column
		overflow		hidden