/* project-template : 0.0.0 : Fri Jan 30 2015 20:26:49 GMT+0800 (CST) */html,
body {
  color: #252525;
  -webkit-font-kerning: auto;
     -moz-font-kerning: auto;
          font-kerning: auto;
  font-size: 14px;
  font-smooth: always;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
}
a {
  color: #25a8e0;
}
a.active,
a:active,
a:focus,
a:hover {
  color: #1a88b7;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #252525;
  font-family: $body-font;
}
.subheading {
  font-size: 0.5em;
  line-height: 1;
}
.caps {
  text-transform: uppercase;
}
.centred {
  text-align: center;
}
.small {
  font-size: 0.85em;
}
.subheading {
  font-size: 0.5em;
  margin: 0.3em 0;
}
html,
body {
  background: #fff;
}
section {
  padding: 2rem 0 !important;
}
.margin {
  margin: 1.5em;
}
.card {
  position: relative;
}
.centered {
  text-align: center !important;
}
.ui.secondary.menu {
  display: inline-block;
}
.ui.card > .image {
  max-height: 250px;
  overflow: hidden;
}
img {
  height: auto;
  width: 100%;
}
svg {
  pointer-events: none;
}
body {
  *zoom: 1;
  width: 100%;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
.documentaries {
  display: block;
  width: 104.1666666666667%;
  margin: 0 -2.0833333333333%;
  *width: 104.1666666666667% -correction;
  *margin: 0 -2.0833333333333% -correction;
  padding: 0 20px;
}
.documentary {
  display: inline;
  float: left;
  overflow: hidden;
  width: 95.8333333333333%;
  margin: 0 2.0833333333333%;
  *width: 95.8333333333333% -correction;
  *margin: 0 2.0833333333333% -correction;
  margin-bottom: 3em;
  overflow: visible;
}
@media (min-width: 768px) {
  .documentary {
    display: inline;
    float: left;
    overflow: hidden;
    width: 45.8333333333333%;
    margin: 0 2.0833333333333%;
    *width: 45.8333333333333% -correction;
    *margin: 0 2.0833333333333% -correction;
    margin-bottom: 3em;
    overflow: visible;
  }
}
@media (min-width: 990px) {
  .documentary {
    display: inline;
    float: left;
    overflow: hidden;
    width: 29.166666666666703%;
    margin: 0 2.0833333333333%;
    *width: 29.166666666666703% -correction;
    *margin: 0 2.0833333333333% -correction;
    margin-bottom: 3em;
    overflow: visible;
  }
}
.footer {
  background: #252525;
  color: #ccc;
  margin-top: 1.5em;
  padding: 1.5em 0;
}
.footer h2 {
  color: #fff;
  margin-top: 0;
}
.footer a {
  color: #fff !important;
}
.footer .three.wide.column {
  overflow: hidden;
}
.ui.form input:not([type]),
.ui.form input[type=number],
.ui.form input[type=text],
.ui.form input[type=email],
.ui.form input[type=date],
.ui.form input[type=datetime-local],
.ui.form input[type=url],
.ui.form input[type=tel],
.ui.form input[type=password] {
  border-radius: 500rem;
}
.ui.form input:not([type]):focus,
.ui.form input[type=number]:focus,
.ui.form input[type=text]:focus,
.ui.form input[type=email]:focus,
.ui.form input[type=date]:focus,
.ui.form input[type=datetime-local]:focus,
.ui.form input[type=url]:focus,
.ui.form input[type=tel]:focus,
.ui.form input[type=password]:focus {
  border-radius: 500rem;
  box-shadow: none;
}
.ui.search {
  display: inline-block;
}
.ui.form,
.ui.labels {
  margin-top: 1.5em;
}
.ui.search {
  float: right;
  width: 50%;
}
.ui.search .ui.input {
  width: 100%;
}
.ui.ribbon.label {
  padding-right: 0.8em;
  position: absolute;
  top: 1em;
  z-index: 2000;
}
.ui.ribbon.label.right {
  left: calc(100% + 1em + 3px);
}
.hero {
  position: relative;
  box-shadow: inset 0 0 20em #252525;
  height: 20em;
  overflow: hidden;
}
@media (min-width: 560px) {
  .hero {
    height: 30em;
  }
}
.hero img {
  display: block;
  -webkit-filter: sepia(50%);
          filter: sepia(50%);
  opacity: 0.7;
}
@media (min-width: 900px) {
  .hero img {
    margin-top: -15em;
  }
}
@media (min-width: 1000px) {
  .hero img {
    margin-top: -20em;
  }
}
.hero .segment {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
.hero .segment.ui.inverted {
  background-color: rgba(37,37,37,0.7) !important;
}
.hero .segment.ui.circular {
  padding: 3em;
}
@media (min-width: 768px) {
  .hero .segment.ui.circular {
    padding: 2em;
  }
}
.language-switcher {
  position: absolute;
  right: 10px;
  top: 10px;
}
.language-switcher i.flag {
  margin-right: 0;
}
