html,
body
	background			$body-background

section
	padding				2rem 0 !important

.margin
	margin				$base-spacing-unit

	&--bottom
		margin(bottom)

	&--left
		margin(left)

	&--right
		margin(right)

	&--top
		margin(top)

.card
	relative()

.centered
	text-align			center !important

.ui.secondary.menu
	display				inline-block

.ui.card > .image
	max-height			250px
	overflow			hidden